.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 5rem;
  background-color: white;
  /* box-shadow: 1px 1px 2px black; */
  /* position: fixed;
  top: 0;
  left: 0;
  z-index: 100; */
}
.nav-logo {
  display: flex;
  align-items: center;
}
.nav-logo img {
  width: 30px;
  margin-right: 0.5rem;
  cursor: pointer;
}
.nav-logo p {
  font-size: 1.3rem;
  font-weight: 800;
  font-family: monospace;
  color: black;
}
.nav-list {
  min-width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-list li {
  display: inline-block;
  cursor: pointer;
}
.nav-list a {
  text-decoration: none;
  font-size: 1rem;
  color: black;
  text-transform: uppercase;
}
.nav-list hr {
  border: none;
  width: 80%;
  height: 3px;
  border-radius: 10px;
  background-color: black;
}
.auth-cart {
  display: flex;
  align-items: center;
  gap: 20px;
}
.auth-cart button {
  width: 100px;
  height: 35px;
  outline: none;
  border: 1px solid #7a7a7a;
  color: #515151;
  font-weight: 900;
  cursor: pointer;
  border-radius: 20px;
}
.auth-cart button:active {
  background-color: #7a7a7a;
}
.nav-counter {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: orange;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  font-weight: 500;
  color: white;
  margin-left: -35px;
  margin-top: -27px;
}
.hamburger {
  width: 30px;
  height: 20px;
  background-color: white;
  padding: 0.1rem;
  display: flex;
  flex-direction: column;
  gap: 1px;
  display: none;
}
.hamburger span {
  width: 100%;
  height: 3px;
  display: block;
  background-color: black;
}

@media (max-width: 800px) {
  .navbar {
    padding: 1rem 2rem;
  }

  .nav-list {
    min-width: 50%;
  }

  .nav-list a {
    font-size: 0.9rem;
  }

  .auth-cart button {
    width: 80px;
    height: 30px;
    font-size: 0.8rem;
  }

  .auth-cart img {
    width: 25px;
  }

  .nav-counter {
    width: 18px;
    height: 18px;
    font-size: 0.7rem;
    margin-left: -30px;
    margin-top: -24px;
  }
}

@media (max-width: 500px) {
  .navbar {
    padding: 1rem;
    padding-right: 3rem;
    gap: 1rem;
  }

  .nav-logo {
    justify-content: center;
    font-size: 1rem;
  }
  .nav-logo img{
    width: 20px;
  }

  .nav-list {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    display: none;
  }

  .auth-cart {
    gap: 10px;
  }

  .auth-cart button {
    width: 70px;
    height: 28px;
    font-size: 0.7rem;
  }

  .auth-cart img {
    width: 22px;
  }

  .nav-counter {
    width: 16px;
    height: 16px;
    font-size: 0.6rem;
    margin-left: -25px;
    margin-top: -20px;
  }
  .hamburger {
    display: flex;
    position: absolute;
    right: 10px;
  }
}
